/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;    
}
html {
    font-size: 12px;
    color: black;
}
body {
    background-color: white;
    font-family: monospace;
    font-size: 12px;
    color: black;
    margin: 0;
}
header {
    width: 60em; 
    margin: 0 auto; 
    background-color: black; 
    color: white; 
    padding: 2em 2em; 
    box-sizing: border-box; 
    margin-bottom: 4em; 
}
footer {
    width: 86em; 
    margin: 0 auto; 
    background-color: black; 
    text-align: center; 
    color: white; 
    font-size: .7em; 
    font-weight: 900;
    padding: 2em 2em; 
    box-sizing: border-box; 
    margin-top: 4.3em; 
}




.name {
    display: flex;
    height: 1em; 
}
.name a {
    font-size: 1em;
    color: white;
    font-family: monospace;
    font-weight: 900;
    text-decoration: underline;
    
}
.name a:hover {
    color: lightgrey;
}



.indexcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80em;
}
.indexcontent a {
    display: block; 
    font-size: 1em;
}
#indexphoto {
    width: 60em;
    margin: 0 auto; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.nav-container {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 2em;
}



.primarynav a {
    text-decoration: none;
    font-weight: 900;
    font-size: 1em;
    color: black;
}
.primarynav a:hover {
    color: lightgrey;
    
}
.secondarynav a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 900;
    color: black;

}
.secondarynav a:hover {
    color: lightgrey;
}



.bio {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
    width: fit-content;
    gap: 1em; 
    max-width: 100em;
}
.biotext {
    max-width: 55em;
}
.biotext p {
    margin-bottom: 1.3em;
}
.biotext h1 {
    margin-bottom: 1.3em;
    font-size: 1em;
}
.biotext a {
    color: blue;

}
.biotext a :hover {
    color: lightblue;
    
}
#biophoto {
    width: 60em;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 4em;
}



.cv {
    display: flex;               
    flex-direction: column;      
    align-items: center;        
    margin: 0 auto; 
    gap: 1em; 
    max-width: 125em;
}
.cvtext {
    max-width: 41em;
}
.cvtext li {
    margin-bottom: .5em;
}
.cvtext h1 {
    font-size: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}
.cvtext h2 {
    font-size: 1em;
    margin-bottom: .5em;
    text-decoration: underline;
}



.books {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 1em; 
}
.books a {
    display: block;
    width: 41.5em; 
    height: auto;
}
.books img {
    width: 100%;
    height: auto;
}
.books h1 {
    font-size: 1em;
    margin-bottom: 1em;
}



.projects {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 1em; 
}
.projects a {
    display: block;
    width: 41.5em; 
    height: auto;
}
.projects img {
    width: 100%;
    height: auto;
}
.projects h1 {
    font-size: 1em;
    margin-bottom: 1em;
}



.series {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 1em; 
}
.series a{
    display: block;
    width: 41.5em; 
    height: auto;
}
.series img {
    width: 100%;
    height: auto;
}
.series h1{
    font-size: 1em;
    margin-bottom: 1em;
}



.other {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 1em; 
}
.other a {
    display: block;
    width: 41.5em; 
    height: auto;
}
.other img {
    width: 100%;
    height: auto;
}
.other h1 {
    font-size: 1em;
    margin-bottom: 1em;
}





/* PHOTOS */


.photocarousel {
    width: 80em;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.carousel {
    display: flex;
    width: 100%;
    height: 80em;
    transition: none;
    position: relative;
}
.carousel-image {
    flex: 0 0 100%;
    width: 80em;
    height: 80em;
    object-fit: contain;
    overflow: hidden;
}
.carousel-buttons {
    display: flex; 
    justify-content: center; 
    margin: 0;
    z-index: 2; 
}
.carousel-btn {
    background-color: black;
    border: none;
    color: white;
    padding: 1em 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin: .5em;
    border-radius: .5em;
}



.photocarouseltext {
    max-width: 45em;
    margin: 2.5em auto;
    color: black;
    font-size: 1em;
    text-align: left;
}
.photocarouseltext p {
    margin-top: 1em;
}
.photocarouseltext h1{
    font-size: 1.2em;
    font-weight: bold;
}

.photocarouseltext h2{
    font-size: 1.3em;
    font-weight: bold;
}

.photocarouseltext h3 {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}



.singles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 60em; 
    width: 100%;
}

.singles-wrapper {
    text-align: center;
    margin-bottom: 2em; 
}

.singles-caption {
    margin-top: 0.5em; 
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
}

.singles img {
    max-width: 100%; 
    display: block;
}


